/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos de la barra de navegación */
.navbar {
    background-color: rgba(255, 255, 255, 0,01);
}

.navbar-brand, .navbar-nav .nav-link {
    color: #ffffff !important;
}

.navbar-toggler-icon {
    background-color: #9e0000;
}

/* Estilos del héroe (sección de inicio) */
.hero {
    background-image: url('/images/imagen-header.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 0;
    color: #fff;
}

.cta-button {
    background-color: #FFA500;
    color: #fff;
    padding: 10px 20px;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

/* Estilos del menú */
.menu-item {
    text-align: center;
    margin: 20px;
}

.menu-item img {
    max-width: 100%;
    height: auto;
}

/* Estilos de la sección de promociones */
.promotion {
    text-align: center;
    margin: 20px;
}

.promotion img {
    max-width: 100%;
    height: auto;
}

/* Estilos de la sección de contacto */
.contact {
    background-color: #f5f5f5;
    padding: 20px;
}

/* Estilos del pie de página */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Estilos para pantallas pequeñas (móviles) */
@media screen and (max-width: 768px) {
    .navbar-toggler-icon {
        background-color: #fff;
    }
}
